* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

.header {
  height: 90vh;
  width: 100%;
}

.leftPic {
  width: 50%;
  height: 100%;
  background: url(../assets/pictures/picture1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.rightPic {
  width: 50%;
  height: 100%;
  background: url(../assets/pictures/picture3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}

.headerWrapper {
  padding-top: 400px;
  position: absolute;
  margin-left: 25%;
}

.headerWrapper h1 {
  font-size: 8vw;
  font-weight: bold;
  color: aqua;
  text-align: center;
  letter-spacing: 3.33px;
}

.right {
  float: right;
}

.nav {
  height: 10vh;
  width: 100%;
  background: linear-gradient(to bottom right, #5dade2, #d0d3d4);
}

.navWrapper {
  width: 85%;
  margin: auto;
  padding-top: 30px;
}

#products, #aboutme, #contact {
  color: black;
  font-weight: 900;
  font-size: 16px;
  margin-right: 35px;
  letter-spacing: 1px;
}
